@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Sono:wght@300;400;500&display=swap");

header,
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Sono", sans-serif;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
  color: black;
  padding: 5px 12px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
  line-height: 20px;
}

.btn-back {
  position: absolute;
  left: 10px;
}

h1 {
  margin: 30px 20px;
  font-weight: 400;
}
.btn-about {
  background-color: black;
  color: #fff;
}